<div class="panel panel-default center-block game_wrapper">
  <div class="panel-heading">Score: <span id="score">0</span></div>
  <div class="panel-body">
    <div class="game_board" data-user-id="<%= current_user.id %>">
      <% @game.cells.split(',').each_with_index do |c, num| %>
      <a href="#" data-col="<%= num%8 + 1 %>" data-row="<%= num/8 + 1 %>" data-type="<%= c %>" data-num="<%= num %>" class="square square-<%= c %>"></a>
      <% end %>
    </div>
  </div>
</div>

<!--
<div class="panel panel-default pull-right center-block game_wrapper">
  <div class="panel-heading">Score: <span id="score">0</span></div>
  <div class="panel-body">
    <div class="game_board" data-user-id="<%= current_user.id %>">
      <% @game.cells.split(',').each_with_index do |c, num| %>
      <a href="#" data-col="<%= num%8 + 1 %>" data-row="<%= num/8 + 1 %>" data-type="<%= c %>" data-num="<%= num %>" class="square square-<%= c %>"></a>
      <% end %>
    </div>
  </div>
</div>
-->
