<div class="panel panel-default center-block game_wrapper">
  <div class="panel-heading">Score: <span id="score"><%= @game.score.nil? ? 0 : @game.score %></span></div>
  <div class="panel-body">
    <div class="game_board" data-user-id="<%= current_user.id %>">
      <% @game.cells.split(',').each_with_index do |c, num| %>
      <a href="#" data-col="<%= num%8 + 1 %>" data-row="<%= num/8 + 1 %>" data-type="<%= c %>" data-num="<%= num %>" class="square square-<%= c %>"></a>
      <% end %>
    </div>
    <script type="text/javascript" charset="utf-8">
      window.Peekeweled.classes.Cell.setCellBank("<%= @game.id %>", "<%= @game.allCells %>");
    </script>
  </div>
   <div class="panel-footer">
     <%= form_for @game, :html => { :class => 'form-horizontal' } do |f| %>
       
       <%= f.hidden_field :score, value: "1" %>
       <%= f.hidden_field :cells, value: "1" %>
       
       <%= link_to raw("<i class='fa fa-arrow-left'></i> Back"), user_path, :class => 'btn btn-primary' %>
       <%= f.submit "End Game", :class => 'btn btn-danger pull-right', :text => "" %>
    
     <% end %>

     <%= form_for @game, :html => { :class => 'form-horizontal hidden-form-submission' }, remote: true do |f| %>
       
       <%= f.hidden_field :score, value: "1" %>
       <%= f.hidden_field :cells, value: "1" %>
       
     <% end %>
   </div>
</div>

<!--
<div class="panel panel-default pull-right center-block game_wrapper">
  <div class="panel-heading">Score: <span id="score">0</span></div>
  <div class="panel-body">
    <div class="game_board" data-user-id="<%= current_user.id %>">
      <% @game.cells.split(',').each_with_index do |c, num| %>
      <a href="#" data-col="<%= num%8 + 1 %>" data-row="<%= num/8 + 1 %>" data-type="<%= c %>" data-num="<%= num %>" class="square square-<%= c %>"></a>
      <% end %>
    </div>
  </div>
</div>
-->
