<h1>Oh hayyy, <%= @user.name %>!</h1>
<hr />
<div class="row">
  <div class="col-md-6">
    <p class="lead">Your Top Scores</p>
    <table class="table table-striped">
      <tbody>
        <% @user.games.each do |game| %>
          <tr>
            <td><%= time_ago_in_words(game.updated_at) %> ago</td>
            <td><%= game.score %> pts</td>
            <td>
                  <%= link_to("Finish", game_path(game), class: "btn btn-primary btn-xs") if game.ended_at.nil? %>
                  <%= link_to('Delete', game_path(game), :method => :delete, :class => 'btn btn-xs btn-danger') if game.ended_at.nil?%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to "Start A New Game!", new_game_path, :class => 'btn btn-primary' %>
    
    <%= link_to "Start A Dual Game!", new_dual_path, :class => 'btn btn-primary' %>
    <br /><br />
  </div>

  <div class="col-md-6">
    <p class="lead">All-Time Leaders</p>
    <table class="table table-striped">
      <tbody>
        <% @leaderboard.each do |game| %>
          <tr>
            <td><%= game.user.name %>
            <td><%= time_ago_in_words(game.updated_at) %> ago</td>
            <td><%= game.score %> pts</td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
  
</div>
  